<!DOCTYPE html>
<html>
  <head>
    <title>Rainsg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container w-5">
      <%= yield %>
    </div>
    <!-- <div id="map"></div> -->
    <script src='https://darksky.net/map-embed/@precipitation_rate,1.301,103.798,11.js?embed=true&timeControl=false&fieldControl=false&defaultField=precipitation_rate&defaultUnits=_mmph'></script>


    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 1.28967, lng: 103.85007},
          zoom: 12
        });
      }
    </script>
    <script
    src=<%= "https://maps.googleapis.com/maps/api/js?key=#{@api_key}&callback=initMap" %>
    async defer></script>

  </body>
</html>
